/* ===== CARD ===== */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* ===== INPUT ===== */
input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* ===== BUTTON ===== */
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  pointer-events: auto; /* التأكد من أن الزر يستقبل النقر */
  cursor: pointer;
}

button:hover {
  background: #1a56d6;
}

.button-group {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.button-group button {
  width: auto;      /* الزر سيأخذ عرض النص بداخله فقط */
  display: inline-block;
  margin-right: 10px;
}

/* SECTION TITLE */
h3 {
  margin-bottom: 5px;
}
/* ===== MODERN TABLE STYLE (USED FOR ALL TABLES) ===== */

.table-container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

th {
    background: #2c7be5;
    color: white;
    padding: 12px;
    text-align: right;
    font-family: "Times New Roman", serif;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: right;
    font-family: "Times New Roman", serif;
}

tr:hover {
    background: #f5f7ff;
    transition: 0.2s;
}
